.about-me{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: 10;
    background-color:var(--light--body-bg);    
    padding-top: 8rem;

}
.about-me-header {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about-me-header-description > p {
    font-family: "Syne", serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(----light--heading-black);
    line-height: 1.2;
}

.about-me-title {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-me-title > h1 {
    font-family: "Bebas Neue", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    display: inline;
    font-size: 12rem;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(90deg, var(----light--heading-black) 50%,  #dce2e2 50%);
    background-position:100%;
    background-size:200% 100%;
    background-clip:text;
    -webkit-background-clip:text;
    transition: background-position 1.5s ease, transform 500ms ease-in-out;
    will-change: transform;

}

.about-me-header-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.about-me-header-description > p {
    font-family: "Syne", serif;
}


.button {
    background-color: transparent;
    border-radius: 2.5em;
    border: 1px solid #404145;
    min-height: 68px;
    padding: 1.5em 2.5em;
    font-family: "Syne", serif;
    text-transform: capitalize;
    font-weight:600;
    font-size: large;
}

.about-me-title-second-word {
    margin-left: 4rem !important;
}

.box-layout {
    height: 50%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
}

.box {
    display:flex; 
    flex-direction:column; 
    background-color: var(--light--heading-back-text); 
    color: white; 
    display: flex; 
    justify-content: left; 
    align-items: left;
    padding-left: 4em;
    padding-right: 4em;
    opacity: 0;
    transition: opacity 1s ease-in;
    padding-bottom: 2em;
    border-radius: 2em;
    position: relative;
}

.box > img {
    position: absolute;
    right: 0;
    top: -5px;
    height: 80%;
    rotate: 45deg;
    
}

.box.box3 {
    grid-column: span 2;
}

.title-box {
    font-family: "Bebas Neue", serif;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(----light--heading-black);
}

.description-box {
    font-family: "Syne", serif;
    font-size: 1.3rem;
    color: var(----light--heading-black);
}

.icons-tech {
    display: flex;
    align-items: center;
    gap:1rem
}
.icons-tech > img {
    height: 27px;
    background-color: #d5dddd;
    border-radius: 50%;
    padding: 0.7em;
    border:none;
}


@media only screen and (max-width: 600px) {
    .about-me{ 
        padding-top: 20rem;
    }
    .about-me-header{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .about-me-title  {
        width: 100%;
        align-items: center;
    }
    .about-me-title > h1 {
        font-size: 10rem;
    }
    .about-me-header-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .about-me-header-description > p {
        text-align: center;
    }
    .box-layout {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(3, auto); 
        width: 95%; 
    }
    .box {
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 1em;
    }
    .box.box3 {
        grid-column:span 1;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .about-me{ 
        padding-top: 20rem;
    }
    .about-me-header {
        width: 100%;
    }
    
    .box-layout {
        width: 90%;
    }
    .box {
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 1em;
        border-radius: 1em;
    }
    .about-me-header-description > p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1280px)  {
    .about-me-header {
        width: 90%;
    }
    .box-layout{
        width: 90%;
    }
}
