footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    background-color:var(--light--body-bg);    
}

.footer-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
}

.footer-loop-box {
    display: inline-flex;
    white-space: nowrap;
    grid-column-gap: 1em;
    flex: none;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: auto;
    display: flex;
    transform-style: preserve-3d;
    will-change: transform;

}

.loop-text {
    font-weight: bold;
    display: inline-block;
    font-family: Bebas Neue, sans-serif;
    color: var(----light--heading-black);
    font-weight: 700;
}

.loop-text.size-large {
    font-size: 24rem;
}

.loop-text.line {
    font-size: 4vw;
    font-family: Bebas Neue, sans-serif;
    font-weight: 700;
    letter-spacing: -6px;
    margin-top: 10px;
}

.footer-loop-box {
    animation: moveText 60s linear infinite;
}

.footer-contact {
    width: 80%;
    position: absolute;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-icons {
    display: flex;
    align-items: center;
}

.button-icon-1-footer, .button-icon-2-footer, .button-icon-3-footer {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border:none;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-icon-1-footer:hover, .button-icon-2-footer:hover, .button-icon-3-footer:hover  {
    transform: scale(1.3);
}

.button-icon-1-footer > img, .button-icon-2-footer > img, .button-icon-3-footer > img  {
    height: 100%;
    width: 100%;
}

.credits {
    align-self: center;
}

.credits > p {
    color: var(----light--heading-black);
    font-family: "Syne", serif;
    font-size: 1.2rem;
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}




@media only screen and (max-width: 600px) {
 
    .footer-contact {
        width: 100%;
    }
    .credits > p {
        font-size: 0.9rem;
        text-align-last: center;
        text-align: center;
    }

    .loop-text.line{
        font-size: 14vw;
    }

    .button-icon-1-footer, .button-icon-2-footer, .button-icon-3-footer {
        width: 40px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1280px) {
    .footer {
        height: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}